body {
    background-color: white;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
}
.buttons {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}
button {
    border-radius: 2px 2px 2px 2px;
    height: 40px;
    width: 20%;
    font-size: 20px;
}
button:hover {
    background-color: #e0e0e0
}
.boxes {
    width: 100%;
    height: 400px;
    background: white;
    overflow: visible;
    text-align: center;
    margin-top: 30px;
}
.today-button-results {
    width: 100%;
    height: 400px;
    background-image: url("../img/cowboy.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(115, 199, 233);
    font-size: small;
    padding-top: 10px;
}
.today-button-results h2 {
    font-size: 40px;
}

.three-day-button-results {
    background-color: rgb(115, 199, 233);
    width: 33%;
    height: 320px;
    float: left;
    padding: 15px 25px 0 25px;
    font-size: small;
}
.three-day-button-results h2 {
    font-size: 35px;
}
.eachDay:first-of-type {
    width: 100%;
    float: left;
    height: 240px;
    font-size: small;
    margin-bottom: 0;
    padding-top: 15px;
}
.eachDay:first-of-type h2 {
    font-size: 40px;
}
.eachDay {
    width: calc(50% / 3);;
    float: left;
    padding: 12px;
    height: 320px;
    font-size: x-small;
    margin-bottom: 80px;
    background-color: rgb(115, 199, 233);
}
.eachDay h2 {
    font-size: 25px;
}


/* These are the IDs for all of our text inside each box */

#temperature {
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
}
#feels-like {
    text-transform: uppercase;
}
#icon {
<<<<<<< HEAD
=======
    /*background-image: url("../Icons/Cloud-Drizzle-Moon.svg");*/
>>>>>>> b63b4617e561d7b11df4fd2fdc525f6b81289523
    background-size: contain;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    padding: 0;
}
#summary {

}
#humidity {

}
#map {
    width: 400px;
    margin-top: 100px;
}

@media only screen and (min-width: 800px) {
    .eachDay:first-of-type {
        width: calc(100% / 7);
        float: left;
        padding: 12px;
        height: 330px;
        font-size: medium;
    }
    .eachDay:first-of-type h2 {
        font-size: 35px;
        margin-bottom: 0;
    }
    .eachDay {
        width: calc(100% / 7);;
        float: left;
        padding: 12px;
        height: 330px;
        font-size: 15px;
    }
    .eachDay h2 {
        font-size: 35px;
        margin: 0;
        padding: 0;
    }
    .three-day-button-results {
        padding: 0px 30px 0 30px;
        font-size: large;
        height: 330px;
    }
    .three-day-button-results h2 {
        font-size: 45px;
        margin: 0;
        padding: 0;

    }
}
